//===========< Контейнеры, ограничители >=========== 

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1200px;

//===========< / Контейнеры, ограничители >===========

//===========< Главный шрифт >===========

$fontFamily: 'Poppins';

//===========< / Главный шрифт >===========

//===========< Фон >===========

$back-color-aside: #3A63DE;
$back-color-aside-active: #3154BD;
$back-color-chat: #F2F5FA;
$back-color-notification: #FD726B;
$back-color-border: #E1E3E6;
$back-color-status: #44CB7F;

//===========< / Фон >===========

//===========< Шрифт >===========

$font-size-min: 13px;
$font-size-mid: 14px;
$font-size-max: 15px;

$font-color-dark-grey: #333333;
$font-color-light-grey: #818386;
$font-color-grey: #595F69;

$font-color-dark-blue: #13284F;

//===========< / Шрифт >===========

//===========< Ссылки >===========

$link-color-hover: #fff;
$link-color-active: #fff;
$link-color-focus: #fff;

//===========< / Ссылки >===========
